<h1>About Us</h1>
<p>
  <a href="http://customposts.heroku.com/">Diamond Bee Farm Message Application</a>
  is a project to make a book and screencasts to teach web development
  with <a href="http://customposts.heroku.com/">Diamond Bee Farm</a>. We are dedicated to providing the best product possible.
</p>
