<h1>Contact</h1>
<p>
  Contact Diamond Bee Farms:
  Email: 
  Mail: Diamond Bee Farms/n37573 Lee Lake Ave/nWindsor, CO 80550
  Phone: (970) 669-2095
  <a href="http://railstutorial.org/feedback">feedback page</a>.
</p>
