<h1>Help</h1>
<p>
  Get help on Ruby on Rails Tutorial at the
  <a href="http://customposts.heroku.com/help">Diamond B Farm help page</a>.
  To get help on this sample app, see the
  <a href="http://customposts.heroku.com/book">Diamond Bee Farm book</a>.
</p>
